@import '../../../../styles/variables';

.box-post-actions {
	user-select: none;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.post-action {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $secondary-text;
		padding: 0.5rem;
		border-radius: 0.5rem;
		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.4rem;
		}
		.text {
			font-size: 1rem;
			padding: 0 0.5rem;
			text-shadow: 0 0 1px #000;
		}
		&:hover {
			cursor: pointer;
			background-color: $gray-color;
		}
	}

	.post-action.active {
		color: $color-primary;
		text-shadow: 0 0 1px $color-primary;
	}
}
