$secondary-text: #65676b;
$dark-text: #1c0505;
$primary-text: rgb(0, 81, 255);
$gray-color: #f0f2f5;
$gray-color-0: #f1f1f1;
$gray-color-1: #e7e7e9;
$gray-color-2: #d8dadf;

$color-primary: #166fe5;
$color-danger: rgb(241, 19, 56);
$color-secondary: rgb(107, 107, 107);
$color-warning: rgb(255, 166, 0);
$color-success: #23b147;
$color-dark: rgb(0, 0, 0);
$color-light: rgb(236, 236, 236);
$color-pink: rgb(231, 2, 155);
$color-orange: rgb(255, 51, 0);

$height-header: 55px;
